<h2>Person</h2><br />
<form action="/Home/Person">
    <input type="number" name="i" min="1" value="1"/><br />
    <input type="submit" /><br />
</form>
<h2>Planet</h2><br />
<form action="/Home/Planet">
    <input type="number" name="i" min="1" value="1"/><br />
    <input type="submit" /><br />
</form>