@using StarWarsAPITest.Models
@model Person

<table style="width:50%">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Species</th>
        <td>@Model.Species</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <th>Homeworld</th>
        <td>@Model.HomePlanet</td>
    </tr>
</table>